<tr>
  <td>
    <a href={{@key}}>{{formatLong @key}}</a>
  </td>
  <td>
    <a href={{this.short}} target="_blank">{{this.short}}</a>
  </td>
  <td id="{{this.short}}-clicks">{{this.clicks}}</td>
</tr>
