<h1 class="text-center">URL Shortener</h1>

<div class="bar">
  <form action="/create" method="POST">

    <div class="form-group">
      <input type="text" class="form-control" name="longUrl" placeholder="Your original URL here">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" method='post'>Shorten URL</button>
    </div>

  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Ref</th>
      <th class="limit-width">Original URL</th>
      <th>Created At</th>
      <th>Short URL</th>
      <th>All CLicks</th>
    </tr>
  </thead>
  <tbody>
    {{#each urls }}
      <tr>
        <td>{{ @key }}</td>
        <td class="limit-width" scope="row" ><a href={{ this.long_url }}>{{this.long_url}}</a></td>
        <td>tbc</td>
        <td id="{{@key}}"><a href='/short/{{ @key}}'>{{this.short_url}}</a></td>
        <td id="{{@key}}">{{ this.clicks }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- <h1 id="count"></h1>

<button id="increment">Increment!</button>
<button id="decrement">Decrement!</button> -->
