<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Well-Tempered Counter</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

  <h1>Link shortener (but usually lengthener):</h1>

  <!-- <h1 id="count"></h1> -->
<form method="post" action="/" class="form">
<input type="text" class="form-control" name="userURL" id="userURL" placeholder="eg google.com">
<button type="submit" class="btn btn-block submit">Submit</button>

</form>

<!-- <table>
  <th>Original URL</th>
  <th>Created</th>
  <th>Short URL</th>
  <th>All clicks</th>
</table> -->

<!-- {{#each urls as |url|}}
<div class="borderBox">
  <p>{{url}}</p>
</div>
{{/each}}

{{#each hashes as |hash|}}
<div class="borderBox">
  <a href='/{{hash}}'>{{hash}}</p>
</div>
{{/each}} -->

{{#each allKeys as |key|}}
<p>{{key.uniqueID}}</p>
<p>{{key.hash}}</p>
<p>{{key.url}}</p>
<p>{{key.count}}</p>
{{/each}}
<!-- <div class="row" style="display:table;">
  <div class="col-xs-6 left">
    {{#each urls as |url|}}
    <div class="borderBox">
      <p>{{url}}</p>
    </div>
    {{/each}}
  </div>

  <div class="col-xs-6 right">
    {{#each hashes as |hash|}}
    <div class="borderBox">
      <a href='/{{hash}}'>localhost:3000/{{hash}}</p>
    </div>
    {{/each}}
  </div>
</div> -->
</body>

<script>
var socket = io.connect('http://localhost:3002');

socket.on('new count', function(count) {
  $('#count').html(count);
});

$('#increment').click(function() {
  socket.emit('increment');
});

$('#decrement').click(function() {
  socket.emit('decrement');
});
</script>
</html>
