<h1 class="text-center">URL Shortener</h1>

<div class="bar">
  <form action="/create" method="POST">

    <div class="form-group">
      <input type="text" class="form-control" name="longUrl" placeholder="Your original URL here">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" method='post'>Shorten URL</button>
    </div>

  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th class="limit-width">Original URL</th>
      <th>Created At</th>
      <th>Short URL</th>
      <th>All CLicks</th>
    </tr>
  </thead>
  <tbody>
    {{#each object }}
      <tr>
        {{#each @key }}
        <td id='{{ object.index }}'>{{ object.index }}</td>
        <td class="limit-width" scope="row" id="long-url"><a href={{ object.long_url }}>{{object.long_url}}</a></td>
        <td id='clicks-counter'>tbc</td>
        <td><a href={{ object.short_url }}>{{object.short_url}}</a></td>
        <td id="test">{{ object.clicks }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- <h1 id="count"></h1>

<button id="increment">Increment!</button>
<button id="decrement">Decrement!</button> -->
