<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Well-Tempered Counter</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

  <h1>Link shortener (but usually lengthener):</h1>

  <!-- <h1 id="count"></h1> -->
<form method="post" action="/" class="form">
<input type="text" class="form-control" name="userURL" id="userURL" placeholder="eg google.com">
<button type="submit" class="btn btn-block submit">Submit</button>

</form>

  <table>
    <th>Original URL</th>
    <th>Created</th>
    <th>Short URL</th>
    <th>All clicks</th>
    {{#each allKeys as |key|}}
    <tr>
      <td>
        <a href='http://www.{{key.url}}'>{{key.url}}</a>
      </td>
      <td>
        <p>{{key.creationTime}}</p>
      </td>
      <td>
        <a href='/{{uniqueID}}' id="{{uniqueID}}">http://{{uniqueID}}</a>
      </td>
      <td>
          <p>{{key.count}}<p>
      </td>
    </tr>
    {{/each}}
  </table>
</body>

<script>
var socket = io.connect('http://localhost:3002');

socket.on('new count', function(count) {
  $('#count').html(count);
});

//increment when user hits specific link page
$('#increment').click(function() {
  socket.emit('increment');
});

$(`#{{uniqueID}}`).click(function() {
  socket.emit('increment', {{uniqueID}});
})

$('#decrement').click(function() {
  socket.emit('decrement');
});
</script>
</html>
