<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <h1 class="page-header">Viking URL Shortener</h1>
      <div class="jumbotron">
        <form class="form-inline" action="/submit" method="post">
          <h2>Shorten Your Links</h2>
          <input type="text" name="url" placeholder="Your URL here...">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="col-xs-4">
        Original URL
      </div>
      <div class="col-xs-4">
        Short URL
      </div>
      <div class="col-xs-4">
        All Clicks
      </div>
    </div>
  </div>

  {{#each urlInfo as |urlItem|}}
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="col-xs-4">
          <a href="http://{{urlItem.original}}" target="_blank">
            {{urlItem.original}}
          </a>
        </div>
        <div class="col-xs-4">
          <a href="{{urlItem.short}}" target="_blank">
            localhost:3000/{{urlItem.short}}
          </a>
        </div>
        <div class="col-xs-4">
          {{urlItem.count}}
        </div>
      </div>
    </div>
  {{/each}}

  <script type="text/javascript">
    var socket = io.connect('http://localhost:3000');

    socket.on('increment', data => {
      
    });
  </script>

</div>
