<table style="border: 1px black solid">
  <tr style="border: 1px black solid">
    <th>Original Url |</th>
    <th>Short Url |</th>
    <th>Clicked</th>
  </tr>
{{#each fullSiteList as |fullSite|}}
  <tr style="border: 1px black solid">
    <td>{{fullSite}} |</td>
    <td><a class="{{lookup ../shortSiteList @index}}" href="/sUrl/{{lookup ../shortSiteList @index}}">localhost:3000/sUrl/{{lookup ../shortSiteList @index}}</a> |</td>
    <td class="{{lookup ../shortSiteList @index}}">{{lookup ../clickSiteList @index}}</td>
  </tr>
{{/each}}
</table>
