<form action="/" method="post" class="page-header">
  <label>Input a URL</label><input type="text" name="url-input" >
  <input type="submit">
</form>

<table class="table">
  <tr>
    <th>Original URL</th><th>Short URL</th><th>All Clicks</th>
  </tr>
  {{#each params as |param|}}
  <tr id="{{param.longUrl}}">
    <td>{{param.longUrl}}</td>
    <td class="urlLink"><a href="{{param.shortUrl}}">{{param.shortUrl}}</a></td>
    <td id="{{param.longUrl}}clicks">{{param.clicks}}</td>
  </tr>
  {{/each}}
</table>
